Repository Coldaine/ColdVox: changes, and which lint-staged commands are due for each by the changed paths.
All: cargo fmt --, mise run check:lockfiles, mise run actionlint, python3 scripts/ensure_doc_frontmatter.py --fix

Stabilize Windows pipeline: fix Clippy, gate Unix tests, and resolve telemetry bugs
  config/plugins.json
  crates/app/config/plugins.json
  crates/app/src/audio/vad_adapter.rs
  crates/app/src/bin/tui_dashboard_manual.rs
  crates/app/src/runtime.rs
  crates/coldvox-audio-quality/src/level.rs
  crates/coldvox-telemetry/src/integration.rs
  crates/coldvox-text-injection/src/injectors/clipboard.rs
  crates/coldvox-text-injection/src/tests/test_ydotool_injector.rs
  crates/coldvox-text-injection/src/tests/wl_copy_simple_test.rs
  crates/coldvox-text-injection/src/tests/wl_copy_stdin_test.rs
  docs/PRODUCT_STATUS.md
  docs/sessions/2026-03-25-windows-stability-recovery.md
Due: cargo fmt --, python3 scripts/ensure_doc_frontmatter.py --fix

Phase 2: Implement HTTP Remote STT Plugin
  config/plugins.json
Due: none

feat(stt): add HTTP remote plugin + temporary deprecate coldvox-audio-quality
  .gitignore
  Cargo.lock
  crates/app/Cargo.toml
  crates/app/src/runtime.rs
  crates/app/src/stt/mod.rs
  crates/app/src/stt/plugin_manager.rs
  crates/app/src/stt/processor.rs
  crates/coldvox-stt/Cargo.toml
  crates/coldvox-stt/src/plugins/http_remote.rs
  crates/coldvox-stt/src/plugins/mod.rs
Due: cargo fmt --, mise run check:lockfiles

chore: update recovery plan with audio-quality deprecation + minor fixes
  Cargo.lock
  crates/app/src/runtime.rs
  crates/app/src/stt/plugin_manager.rs
  crates/app/src/stt/processor.rs
  crates/coldvox-stt/Cargo.toml
  crates/coldvox-stt/src/plugins/http_remote.rs
Due: cargo fmt --, mise run check:lockfiles

chore: add .gitattributes to prevent CRLF churn on Windows
  .gitattributes
Due: none

feat: STT modernization - HTTP remote plugin, config updates, recovery plan
  Cargo.lock
  config/default.toml
  config/plugins.json
  crates/app/Cargo.toml
  crates/app/config/plugins.json
  crates/app/src/audio/vad_adapter.rs
  crates/app/src/bin/tui_dashboard.rs
  crates/app/src/bin/tui_dashboard_manual.rs
  crates/app/src/lib.rs
  crates/app/src/main.rs
  crates/app/src/runtime.rs
  crates/app/src/stt/plugin_manager.rs
  crates/app/src/tui.rs
  crates/app/tests/settings_test.rs
  crates/coldvox-audio/examples/live_capture.rs
  crates/coldvox-stt/Cargo.toml
  crates/coldvox-stt/src/plugin.rs
  crates/coldvox-stt/src/plugins/http_remote.rs
  docs/plans/windows-multi-agent-recovery.md
  docs/reference/stt-docker-containers.md
  justfile
  scripts/run-coldvox.ps1
Due: cargo fmt --, mise run check:lockfiles, python3 scripts/ensure_doc_frontmatter.py --fix

docs: prune stale guidance and preserve GUI design ideas
  .github/agents/project-driver.agent.md
  .github/copilot-instructions.md
  .github/prompts/drive-project.prompt.md
  .kilocode/rules/agents.md
  AGENTS.md
  CLAUDE.md
  GEMINI.md
  PLAN.md
  README.md
  crates/coldvox-gui/README.md
  docs/PRODUCT_STATUS.md
  docs/architecture.md
  docs/domains/gui/gui-architecture.md
  docs/domains/gui/gui-bridge-integration.md
  docs/domains/gui/gui-components.md
  docs/domains/gui/gui-design-overview.md
  docs/domains/gui/troubleshooting/updated-architecture-diagram.md
  docs/reference/crates/coldvox-gui.md
  docs/standards.md
  docs/tasks/gui-integration.md
  docs/todo.md
  scripts/classify_docs.py
Due: python3 scripts/ensure_doc_frontmatter.py --fix

docs: fix review follow-ups for PR 377
  CHANGELOG.md
  docs/domains/gui/gui-design-overview.md
  docs/sessions/2026-03-25-windows-stability-recovery.md
Due: python3 scripts/ensure_doc_frontmatter.py --fix

feat: add HTTP remote STT path and prune stale docs (#377)
  .github/agents/project-driver.agent.md
  .github/copilot-instructions.md
  .github/prompts/drive-project.prompt.md
  .kilocode/rules/agents.md
  AGENTS.md
  CHANGELOG.md
  CLAUDE.md
  GEMINI.md
  PLAN.md
  README.md
  crates/coldvox-gui/README.md
  docs/PRODUCT_STATUS.md
  docs/architecture.md
  docs/domains/gui/gui-architecture.md
  docs/domains/gui/gui-bridge-integration.md
  docs/domains/gui/gui-components.md
  docs/domains/gui/gui-design-overview.md
  docs/domains/gui/troubleshooting/updated-architecture-diagram.md
  docs/reference/crates/coldvox-gui.md
  docs/sessions/2026-03-25-windows-stability-recovery.md
  docs/standards.md
  docs/tasks/gui-integration.md
  docs/todo.md
  scripts/classify_docs.py
Due: python3 scripts/ensure_doc_frontmatter.py --fix

docs: add frontmatter to touched session log
  docs/sessions/2026-03-25-windows-stability-recovery.md
Due: python3 scripts/ensure_doc_frontmatter.py --fix

build(gui): repoint workspace to src-tauri crate
  Cargo.lock
  Cargo.toml
  crates/coldvox-gui/src-tauri/Cargo.toml
Due: mise run check:lockfiles

chore(gui): replace crate manifests and dev commands
  crates/coldvox-gui/Cargo.toml
  crates/coldvox-gui/build.rs
  crates/coldvox-gui/justfile
  crates/coldvox-gui/src-tauri/build.rs
Due: cargo fmt --, mise run check:lockfiles

feat(gui): add tauri host shell bootstrap
  crates/coldvox-gui/src-tauri/capabilities/default.json
  crates/coldvox-gui/src-tauri/gen/schemas/acl-manifests.json
  crates/coldvox-gui/src-tauri/gen/schemas/capabilities.json
  crates/coldvox-gui/src-tauri/gen/schemas/desktop-schema.json
  crates/coldvox-gui/src-tauri/gen/schemas/windows-schema.json
  crates/coldvox-gui/src-tauri/icons/icon.ico
  crates/coldvox-gui/src-tauri/src/main.rs
  crates/coldvox-gui/src-tauri/tauri.conf.json
Due: cargo fmt --

feat(gui): add overlay runtime contract and window sizing
  crates/coldvox-gui/src-tauri/src/contract.rs
  crates/coldvox-gui/src-tauri/src/lib.rs
  crates/coldvox-gui/src-tauri/src/state.rs
  crates/coldvox-gui/src-tauri/src/window.rs
Due: cargo fmt --

feat(gui): add demo-driven tauri overlay behavior
  crates/coldvox-gui/src-tauri/src/demo.rs
Due: cargo fmt --

chore(gui): remove qt placeholder implementation
  crates/coldvox-gui/qml/ActivePanel.qml
  crates/coldvox-gui/qml/ActivityIndicator.qml
  crates/coldvox-gui/qml/AppRoot.qml
  crates/coldvox-gui/qml/CollapsedBar.qml
  crates/coldvox-gui/qml/ControlsBar.qml
  crates/coldvox-gui/qml/Main.qml
  crates/coldvox-gui/qml/SettingsWindow.qml
  crates/coldvox-gui/src/bridge.rs
  crates/coldvox-gui/src/main.rs
Due: cargo fmt --

build(gui): add react frontend tooling and entrypoints
  .gitignore
  crates/coldvox-gui/index.html
  crates/coldvox-gui/package-lock.json
  crates/coldvox-gui/package.json
  crates/coldvox-gui/src/main.tsx
  crates/coldvox-gui/tsconfig.json
  crates/coldvox-gui/vite.config.ts
  crates/coldvox-gui/vitest.config.ts
  crates/coldvox-gui/vitest.setup.ts
Due: mise run check:lockfiles

feat(gui): add redesigned overlay shell
  crates/coldvox-gui/src/App.tsx
  crates/coldvox-gui/src/components/OverlayShell.tsx
  crates/coldvox-gui/src/components/StatusPill.tsx
  crates/coldvox-gui/src/contracts/overlay.ts
  crates/coldvox-gui/src/hooks/useOverlayShell.ts
  crates/coldvox-gui/src/lib/overlayBridge.ts
  crates/coldvox-gui/src/styles.css
Due: none

test(gui): cover overlay shell and bridge behavior
  crates/coldvox-gui/src/components/OverlayShell.test.tsx
  crates/coldvox-gui/src/hooks/useOverlayShell.test.tsx
Due: none

docs(gui): update phase 3a gui documentation
  CHANGELOG.md
  crates/coldvox-gui/README.md
  docs/plans/windows-multi-agent-recovery.md
  docs/reference/crates/coldvox-gui.md
Due: python3 scripts/ensure_doc_frontmatter.py --fix

docs(gui): add alternate GUI tooling research and 5-approach spike plan
  docs/research/AlternateGUIToolingresearch.md
Due: python3 scripts/ensure_doc_frontmatter.py --fix

fix(docs): sync AGENTS.md mirrors and regenerate docs index
  .github/copilot-instructions.md
  .kilocode/rules/agents.md
  AGENTS.md
  GEMINI.md
  docs/index.md
Due: python3 scripts/ensure_doc_frontmatter.py --fix

fix(stt): harden canonical parakeet http-remote path
  crates/app/src/lib.rs
  crates/app/src/main.rs
  crates/app/src/runtime.rs
  crates/app/src/stt/plugin_manager.rs
  crates/app/tests/settings_test.rs
  crates/coldvox-stt/src/plugin.rs
  crates/coldvox-stt/src/plugins/http_remote.rs
  docs/plans/parakeet-http-remote-integration-spec.md
  ops/parakeet/docker-compose.yml
Due: cargo fmt --, python3 scripts/ensure_doc_frontmatter.py --fix

feat(stt): add optional containerized parakeet gpu profile
  crates/app/src/stt/plugin_manager.rs
  crates/coldvox-stt/src/plugins/http_remote.rs
  docs/plans/windows-multi-agent-recovery.md
  docs/reference/stt-docker-containers.md
  ops/parakeet/docker-compose.yml
Due: cargo fmt --, python3 scripts/ensure_doc_frontmatter.py --fix

docs(changelog): note parakeet http profile updates
  CHANGELOG.md
Due: none

docs: add frontmatter to spec and research docs, regenerate index
  docs/index.md
  docs/plans/parakeet-http-remote-integration-spec.md
  docs/research/AlternateGUIToolingresearch.md
Due: python3 scripts/ensure_doc_frontmatter.py --fix

docs: refactor AGENTS.md to thin router, fix critical doc issues
  AGENTS.md
  CLAUDE.md
  GEMINI.md
  config/default.toml
  crates/app/config/default.toml
  crates/app/config/plugins.json
  docs/dev/CI/policy.md
  docs/dev/commands.md
  docs/plans/current-status.md
  docs/plans/windows-multi-agent-recovery.md
  docs/standards/agent-rules.md
Due: python3 scripts/ensure_doc_frontmatter.py --fix

feat(stt): add optional containerized parakeet gpu profile
  docs/plans/windows-multi-agent-recovery.md
Due: python3 scripts/ensure_doc_frontmatter.py --fix

fix(stt): harden canonical parakeet http-remote path
  crates/app/src/stt/plugin_manager.rs
  crates/coldvox-stt/src/plugins/http_remote.rs
  docs/archive/plans/option-c-unified-architecture.md
  docs/plans/parakeet-http-remote-integration-spec.md
  ops/parakeet/docker-compose.yml
Due: cargo fmt --, python3 scripts/ensure_doc_frontmatter.py --fix

feat(stt): add optional containerized parakeet gpu profile
  crates/app/src/stt/plugin_manager.rs
  crates/coldvox-stt/src/plugins/http_remote.rs
  ops/parakeet/docker-compose.yml
Due: cargo fmt --

chore: test and build cleanup
  crates/app/tests/integration/mock_injection_tests.rs
  docs/archive/plans/critical-action-plan-REVIEW.md
  docs/archive/plans/gui/comprehensive-gui-plan.md
  docs/archive/plans/gui/raw-gui-plan.md
  docs/archive/plans/option-c-unified-architecture.md
  docs/domains/text-injection/ti-overview.md
  docs/history/2025-12-25-agent-documentation-insights.md
  docs/plans/windows-multi-agent-recovery.md
  docs/repo/copilot-instructions.md
  justfile
  scripts/ci/detect-qt6.sh
  scripts/local_ci.sh
  scripts/validate_docs.py
Due: cargo fmt --, python3 scripts/ensure_doc_frontmatter.py --fix

docs: refactor AGENTS.md to thin router, cleanup documentation
  AGENTS.md
  CLAUDE.md
  GEMINI.md
  config/default.toml
  crates/app/config/default.toml
  crates/app/config/plugins.json
  docs/dev/CI/policy.md
  docs/dev/commands.md
  docs/plans/current-status.md
  docs/plans/gui-master-plan.md
  docs/plans/windows-multi-agent-recovery.md
  docs/standards/agent-rules.md
Due: python3 scripts/ensure_doc_frontmatter.py --fix

docs(gui): add master plan for ColdVox GUI
  docs/plans/gui-master-plan.md
Due: python3 scripts/ensure_doc_frontmatter.py --fix

chore: add generated metadata files to .gitignore
  .gitignore
Due: none

fix(stt): prevent GC of actively selected plugin (#284) (#366)
  .gitignore
Due: none

feat(stt): parakeet http-remote integration (#382)
  docs/archive/plans/option-c-unified-architecture.md
  docs/plans/parakeet-http-remote-integration-spec.md
Due: python3 scripts/ensure_doc_frontmatter.py --fix

chore: test and build cleanup (#383)
  crates/app/tests/integration/mock_injection_tests.rs
  docs/archive/plans/critical-action-plan-REVIEW.md
  docs/archive/plans/gui/comprehensive-gui-plan.md
  docs/archive/plans/gui/raw-gui-plan.md
  docs/domains/text-injection/ti-overview.md
  docs/history/2025-12-25-agent-documentation-insights.md
  docs/plans/windows-multi-agent-recovery.md
  docs/repo/copilot-instructions.md
  justfile
  scripts/ci/detect-qt6.sh
  scripts/local_ci.sh
  scripts/validate_docs.py
Due: cargo fmt --, python3 scripts/ensure_doc_frontmatter.py --fix

test: fix test for deleted deprecated plugins.json
  crates/app/src/lib.rs
Due: cargo fmt --

feat(gui): tauri v2 react overlay shell (#381)
  AGENTS.md
  CLAUDE.md
  GEMINI.md
  config/default.toml
  crates/app/config/default.toml
  crates/app/config/plugins.json
  crates/app/src/lib.rs
  docs/dev/CI/policy.md
  docs/dev/commands.md
  docs/plans/current-status.md
  docs/standards/agent-rules.md
Due: cargo fmt --, python3 scripts/ensure_doc_frontmatter.py --fix

fix: keep audioadapter at 2.0 for rubato compatibility
  Cargo.lock
  crates/app/Cargo.toml
  crates/coldvox-audio/Cargo.toml
Due: mise run check:lockfiles

Path conditions:
  cargo fmt --: any of: *.rs
  mise run check:lockfiles: any of: {package.json,package-lock.json,Cargo.toml,Cargo.lock}
  mise run actionlint: any of: .github/workflows/*.{yml,yaml}
  python3 scripts/ensure_doc_frontmatter.py --fix: any of: docs/**/*.md
