Repository Coldaine/ColdVox: changes, and which lint-staged commands are due for each by the changed paths.
All: cargo fmt --, mise run check:lockfiles, mise run actionlint, python3 scripts/ensure_doc_frontmatter.py --fix

.lintstagedrc.json:

{
  "*.rs": [
    "cargo fmt --"
  ],
  "{package.json,package-lock.json,Cargo.toml,Cargo.lock}": [
    "mise run check:lockfiles"
  ],
  ".github/workflows/*.{yml,yaml}": [
    "mise run actionlint"
  ],
  "docs/**/*.md": [
    "python3 scripts/ensure_doc_frontmatter.py --fix"
  ]
}

feat: add audio quality monitoring crate with level + spectral analysis
  .github/ISSUE_TEMPLATE/audio-quality-multi-mic-research.md
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/coldvox-audio-quality/Cargo.toml
  crates/coldvox-audio-quality/README.md
  crates/coldvox-audio-quality/benches/audio_quality_benchmarks.rs
  crates/coldvox-audio-quality/src/config.rs
  crates/coldvox-audio-quality/src/level.rs
  crates/coldvox-audio-quality/src/lib.rs
  crates/coldvox-audio-quality/src/spectral.rs
  crates/coldvox-audio-quality/src/types.rs
  crates/coldvox-audio-quality/test_data/README.md
  crates/coldvox-audio-quality/test_data/test_1.wav
  crates/coldvox-audio-quality/test_data/test_3.wav
  crates/coldvox-audio-quality/test_data/test_5.wav
  crates/coldvox-audio-quality/tests/integration_test.rs
  docs/implementation-plans/phase1-audio-quality-monitoring.md
  docs/issues/audio-quality-monitoring.md
  scripts/download_test_audio.sh
Due: cargo fmt --, mise run check:lockfiles, python3 scripts/ensure_doc_frontmatter.py --fix

feat: add audio quality monitoring crate with level + spectral analysis (#345)
  .github/ISSUE_TEMPLATE/audio-quality-multi-mic-research.md
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/coldvox-audio-quality/Cargo.toml
  crates/coldvox-audio-quality/README.md
  crates/coldvox-audio-quality/benches/audio_quality_benchmarks.rs
  crates/coldvox-audio-quality/src/config.rs
  crates/coldvox-audio-quality/src/level.rs
  crates/coldvox-audio-quality/src/lib.rs
  crates/coldvox-audio-quality/src/spectral.rs
  crates/coldvox-audio-quality/src/types.rs
  crates/coldvox-audio-quality/test_data/README.md
  crates/coldvox-audio-quality/test_data/test_1.wav
  crates/coldvox-audio-quality/test_data/test_3.wav
  crates/coldvox-audio-quality/test_data/test_5.wav
  crates/coldvox-audio-quality/tests/integration_test.rs
  docs/implementation-plans/phase1-audio-quality-monitoring.md
  docs/issues/audio-quality-monitoring.md
  scripts/download_test_audio.sh
Due: cargo fmt --, mise run check:lockfiles, python3 scripts/ensure_doc_frontmatter.py --fix

Fix security vulnerabilities and documentation index
  .githooks/pre-push
  Cargo.lock
  README.md
  docs/index.md
  justfile
  mise.toml
  scripts/install-githooks.sh
  scripts/install_git_hardlink_hooks.sh
  scripts/validate_domain_docs_naming.py
Due: mise run check:lockfiles, python3 scripts/ensure_doc_frontmatter.py --fix

feat: add STT/telemetry domain docs and githooks infra
  .githooks/pre-push
  docs/domains/stt/stt-overview.md
  docs/domains/stt/stt-parakeet-integration-plan.md
  docs/domains/telemetry/tele-logging.md
  docs/domains/telemetry/tele-observability-playbook.md
  docs/domains/telemetry/tele-overview.md
  scripts/install-githooks.sh
Due: python3 scripts/ensure_doc_frontmatter.py --fix

feat: add STT/telemetry domain docs and githooks infra (#364)
  .githooks/pre-push
  docs/domains/stt/stt-overview.md
  docs/domains/stt/stt-parakeet-integration-plan.md
  docs/domains/telemetry/tele-logging.md
  docs/domains/telemetry/tele-observability-playbook.md
  docs/domains/telemetry/tele-overview.md
  scripts/install-githooks.sh
Due: python3 scripts/ensure_doc_frontmatter.py --fix

test: add comprehensive foundation crate tests
  crates/coldvox-foundation/tests/foundation_tests.rs
Due: cargo fmt --

test: add audio capture pipeline and watchdog tests
  crates/coldvox-audio/tests/audio_capture_pipeline_tests.rs
  crates/coldvox-audio/tests/watchdog_tests.rs
Due: cargo fmt --

test: add comprehensive VAD tests
  crates/coldvox-vad/tests/vad_comprehensive_tests.rs
Due: cargo fmt --

test: add comprehensive STT tests
  crates/coldvox-stt/tests/stt_comprehensive_tests.rs
Due: cargo fmt --

test: add comprehensive text injection pipeline tests
  crates/coldvox-text-injection/tests/text_injection_pipeline_tests.rs
Due: cargo fmt --

fix(p0): remove dead Python chaos, delete requirements.txt, clean CI whisper flag
  Cargo.lock
  PLAN.md
  crates/app/Cargo.toml
  crates/coldvox-stt/Cargo.toml
  mise.toml
  pyproject.toml
  requirements.txt
  scripts/local_ci.sh
  scripts/validate_telemetry_schema.py
Due: mise run check:lockfiles

ci: add telemetry schema validation workflow
  .github/workflows/telemetry-schema.yml
Due: mise run actionlint

fix: address PR review comments - docs-ci, whisper cfg gates, stt processing
  .github/workflows/docs-ci.yml
  crates/app/src/runtime.rs
  crates/app/src/stt/mod.rs
  crates/app/src/stt/processor.rs
Due: cargo fmt --, mise run actionlint

chore: add GitHub Copilot agent and prompt definitions
  .github/agents/implementer.agent.md
  .github/agents/project-driver.agent.md
  .github/agents/researcher.agent.md
  .github/agents/tester.agent.md
  .github/prompts/drive-project.prompt.md
Due: none

fix: downgrade rubato to 0.16 to fix SincFixedIn API breakage
  crates/coldvox-audio/Cargo.toml
Due: mise run check:lockfiles

chore: add generated metadata files to .gitignore
  .gitignore
Due: none

fix(stt): prevent GC of actively selected plugin (#284)
  Cargo.lock
  crates/app/src/stt/plugin_manager.rs
Due: cargo fmt --, mise run check:lockfiles

Fix Windows voice capture: Rubato 1.0 migration and zbus gating
  Cargo.lock
  crates/app/Cargo.toml
  crates/app/src/audio/vad_adapter.rs
  crates/coldvox-audio/Cargo.toml
  crates/coldvox-audio/src/resampler.rs
  crates/coldvox-audio/tests/windows_live_capture_test.rs
  crates/coldvox-audio/tests/windows_live_mic_test.rs
Due: cargo fmt --, mise run check:lockfiles

feat: Live audio capture tests and GUI workaround for Windows
  .sisyphus/ralph-loop.local.md
  FINAL_REPORT.md
  FINAL_STATUS.md
  VERIFICATION_REPORT.md
  WINDOWS_FINAL_STATUS.md
  WINDOWS_IMPLEMENTATION_SUMMARY.md
  crates/app/config/plugins.json
  crates/app/tests/tui_dashboard_test.rs
  crates/coldvox-audio/src/capture.rs
  crates/coldvox-audio/tests/live_audio_capture_test.rs
Due: cargo fmt --

feat: GUI binary working without proc-macros
  .sisyphus/ralph-loop.local.md
  crates/app/Cargo.toml
  crates/app/src/bin/tui_dashboard_manual.rs
  crates/app/tests/tui_dashboard_manual_test.rs
Due: cargo fmt --, mise run check:lockfiles

docs: add Option C unified architecture plan (ColdVox + Mini merge)
  docs/plans/option-c-unified-architecture.md
Due: python3 scripts/ensure_doc_frontmatter.py --fix

docs: finalize end-to-end Option C plan and pain points
  docs/plans/option-c-unified-architecture.md
Due: python3 scripts/ensure_doc_frontmatter.py --fix

fix: replace broken AudioResampler with coldvox-audio::StreamResampler
  Cargo.lock
  crates/app/src/audio/test_rubato_api.rs
  crates/app/src/audio/vad_adapter.rs
  crates/coldvox-audio/src/lib.rs
  docs/plans/test-pr-365-recovery.md
Due: cargo fmt --, mise run check:lockfiles, python3 scripts/ensure_doc_frontmatter.py --fix

fix(stt): prevent GC of actively selected plugin (#284)
  crates/app/src/stt/plugin_manager.rs
Due: cargo fmt --

docs: correct parakeet compilation status
  docs/plans/critical-action-plan.md
Due: python3 scripts/ensure_doc_frontmatter.py --fix

Step 4: Remove test code with missing imports, update critical-action-plan
  crates/app/config/plugins.json
  crates/app/src/audio/vad_adapter.rs
  crates/app/src/runtime.rs
  crates/app/src/tui.rs
  crates/coldvox-audio-quality/benches/audio_quality_benchmarks.rs
  crates/coldvox-audio-quality/src/config.rs
  crates/coldvox-audio-quality/src/level.rs
  crates/coldvox-audio-quality/src/lib.rs
  crates/coldvox-audio-quality/src/spectral.rs
  crates/coldvox-audio-quality/src/types.rs
  crates/coldvox-audio-quality/tests/integration_test.rs
  crates/coldvox-text-injection/src/tests/mod.rs
  crates/coldvox-text-injection/src/tests/test_ydotool_injector.rs
Due: cargo fmt --

fix: remove rubato 1.0 dependency and use coldvox_audio::StreamResampler
  Cargo.lock
  crates/app/Cargo.toml
  crates/app/src/audio/vad_adapter.rs
Due: cargo fmt --, mise run check:lockfiles

docs: Add Test OS Scoping Epic to unblock Windows CI
  docs/plans/test-os-scoping.md
  docs/todo.md
Due: python3 scripts/ensure_doc_frontmatter.py --fix

chore: sync AGENTS/GEMINI docs, add dependency audit plan, and scripts
  AGENTS.md
  GEMINI.md
  docs/tasks/dependency-audit-plan.md
  scripts/pyo3_audit.ps1
  scripts/pyo3_audit.sh
Due: python3 scripts/ensure_doc_frontmatter.py --fix

chore: push all remaining project audit and recovery docs
  PYO3_DEPENDENCY_AUDIT_PLAN.md
  PYO3_DLL_TROUBLESHOOTING.md
  docs/plans/critical-action-plan.md
  docs/plans/test-pr-365-recovery.md
  docs/plans/windows-multi-agent-recovery.md
  docs/research/dependency-audit-report-2025-02-09.md
  docs/research/dependency-audit-report-2026-03-24.md
  uv.lock
Due: python3 scripts/ensure_doc_frontmatter.py --fix

chore: include exhaustive dependency audit and stt-docker-containers docs
  docs/reference/stt-docker-containers.md
  docs/research/exhaustive-dependency-audit-2026-03-24.md
Due: python3 scripts/ensure_doc_frontmatter.py --fix

chore: stabilize STT pipeline, remove whisper gates, and update telemetry validation
  Cargo.lock
  DEPENDENCY_AUDIT_ISSUE.md
  crates/app/src/bin/tui_dashboard.rs
  crates/app/src/stt/plugin_manager.rs
  crates/app/src/stt/processor.rs
  crates/app/src/stt/tests/mod.rs
  crates/app/src/tui.rs
  docs/domains/telemetry/tele-observability-playbook.md
  pr_365_details.json
  scripts/local_ci.sh
  scripts/validate_telemetry_schema.py
Due: cargo fmt --, mise run check:lockfiles, python3 scripts/ensure_doc_frontmatter.py --fix

docs: align reality tracker links and remove final whisper mentions
  CLAUDE.md
  Cargo.lock
  README.md
Due: mise run check:lockfiles

fix(deps): Windows native CI fix, crate/python upgrades, and paste crate removal
  Cargo.lock
  crates/coldvox-audio-quality/Cargo.toml
  crates/coldvox-audio-quality/src/spectral.rs
  crates/coldvox-text-injection/src/tests/test_ydotool_injector.rs
  docs/plans/windows-multi-agent-recovery.md
  docs/research/dependency-audit-report-2026-03-25.md
  docs/system/Windows-dll-requirements.md
  pyproject.toml
  uv.lock
Due: cargo fmt --, mise run check:lockfiles, python3 scripts/ensure_doc_frontmatter.py --fix

Add comprehensive STT reference and HTTP remote plugin plan
  docs/plans/stt-http-remote-plugin.md
  docs/reference/stt-docker-containers.md
Due: python3 scripts/ensure_doc_frontmatter.py --fix

chore: finalize windows recovery and modernization
  Cargo.lock
  config/plugins.json
  crates/app/src/runtime.rs
  crates/coldvox-audio/examples/live_capture.rs
  justfile
Due: cargo fmt --, mise run check:lockfiles

fix: STT GC deadlock, nuclear pruning cleanup, and documentation alignment
  .cargo/config.toml
  .gitignore
  crates/app/config/plugins.json
  crates/app/src/runtime.rs
  crates/coldvox-stt/README.md
  crates/coldvox-stt/src/plugin.rs
  docs/plans/critical-action-plan-REVIEW.md
  scripts/run-coldvox.ps1
Due: cargo fmt --, python3 scripts/ensure_doc_frontmatter.py --fix

chore: prune stale PR artifacts and align docs/config/runtime
  .gitignore
  AGENTS.md
  CHANGELOG.md
  CLAUDE.md
  GEMINI.md
  README.md
  config/plugins.json
  crates/app/config/plugins.json
  crates/app/src/runtime.rs
  docs/MasterDocumentationPlaybook.md
  docs/PRODUCT_STATUS.md
  docs/anchor-2026-02-09.md
  docs/archive/plans/2026-02-09-pr-triage-action-plan.md
  docs/archive/plans/critical-action-plan-REVIEW.md
  docs/archive/plans/documentation-migration-mapping.md
  docs/archive/plans/documentation/future-documentation-architecture.md
  docs/archive/plans/documentation/proposal-documentation-restructure.md
  docs/archive/plans/foundation/logging-audit.md
  docs/archive/plans/foundation/parakeet-onnx-integration-plan.md
  docs/archive/plans/option-c-unified-architecture.md
  docs/archive/plans/stt-http-remote-plugin.md
  docs/archive/plans/stt-parakeet-integration-plan.md
  docs/archive/plans/test-os-scoping.md
  docs/archive/plans/text-injection/opus-code-inject.md
  docs/archive/plans/text-injection/opus-test-inject-2.md
  docs/archive/plans/text-injection/qwen-test-merge.md
  docs/archive/root/FINAL_STATUS.md
  docs/archive/root/WINDOWS_FINAL_STATUS.md
  docs/index.md
  docs/issues/docs-agentic-semantic-review-rollout.md
  docs/plans/gui/implementation-plan.md
  docs/plans/windows-multi-agent-recovery.md
  docs/reference/docs-semantic-review-contract.md
  docs/research/pr-reports/PR-152-testing-summary.md
  docs/research/pr-reports/PR-190-Comprehensive-Assessment.md
  docs/todo.md
  plugins.json
Due: cargo fmt --, python3 scripts/ensure_doc_frontmatter.py --fix
