Repository Coldaine/ColdVox: changes, and which lint-staged commands are due for each by the changed paths.
All: cargo fmt --, mise run check:lockfiles, mise run actionlint, python3 scripts/ensure_doc_frontmatter.py --fix

.lintstagedrc.json:

{
  "*.rs": [
    "cargo fmt --"
  ],
  "{package.json,package-lock.json,Cargo.toml,Cargo.lock}": [
    "mise run check:lockfiles"
  ],
  ".github/workflows/*.{yml,yaml}": [
    "mise run actionlint"
  ],
  "docs/**/*.md": [
    "python3 scripts/ensure_doc_frontmatter.py --fix"
  ]
}

feat(gui): wire real audio/stt pipeline to tauri shell
  Cargo.lock
  crates/coldvox-gui/src-tauri/Cargo.toml
  crates/coldvox-gui/src-tauri/src/demo.rs
  crates/coldvox-gui/src-tauri/src/lib.rs
  crates/coldvox-gui/src-tauri/src/state.rs
  crates/coldvox-gui/src/App.tsx
  crates/coldvox-gui/src/hooks/useOverlayShell.ts
  crates/coldvox-gui/src/lib/overlayBridge.ts
Due: cargo fmt --, mise run check:lockfiles

chore(stt): Address code review feedback on handle_audio_frame and deny.toml
  crates/app/src/stt/processor.rs
  deny.toml
Due: cargo fmt --

fix(qml): Remove Clear fallback that overwrote bridge property bindings
  crates/coldvox-gui/qml/Main.qml
Due: none

fix: resolve GUI bridge lifecycle, security audit, and lint issues
  Cargo.lock
  crates/coldvox-stt/src/plugins/moonshine.rs
  crates/coldvox-stt/tests/moonshine_e2e.rs
  crates/coldvox-text-injection/src/confirm.rs
  crates/coldvox-text-injection/src/injectors/atspi.rs
  crates/coldvox-text-injection/src/prewarm.rs
Due: cargo fmt --, mise run check:lockfiles

fix(clippy): from_over_into, field_reassign_with_default, and dead_code gating
  crates/app/src/lib.rs
  crates/app/src/runtime.rs
  crates/app/tests/tui_dashboard_manual_test.rs
Due: cargo fmt --

fix(clippy): derivable_impls, field_reassign_with_default, and dead_code gating
  crates/app/src/lib.rs
  crates/app/tests/tui_dashboard_manual_test.rs
Due: cargo fmt --

fix: keep just cross-platform on Windows
  justfile
Due: none

fix: add windows parakeet runtime baseline
  Cargo.lock
  config/default.toml
  config/windows-parakeet.toml
  crates/app/Cargo.toml
  crates/app/src/lib.rs
  crates/app/src/stt/processor.rs
  crates/app/tests/settings_test.rs
  crates/coldvox-gui/src-tauri/Cargo.toml
  crates/coldvox-gui/src-tauri/build.rs
  crates/coldvox-gui/src-tauri/src/lib.rs
  crates/coldvox-stt/Cargo.toml
  crates/coldvox-stt/src/plugins/parakeet.rs
  justfile
  scripts/windows_live_validate.ps1
Due: cargo fmt --, mise run check:lockfiles

test: add windows local validation gate
  justfile
Due: none

test: route just test to windows gate
  justfile
Due: none

docs: align windows validation runbook
  AGENTS.md
  README.md
  docs/dependencies.md
  docs/domains/foundation/fdn-testing-guide.md
  docs/domains/telemetry/tele-logging.md
  docs/plans/current-status.md
  docs/windows-live-runbook.md
Due: python3 scripts/ensure_doc_frontmatter.py --fix

fix: tighten windows validation corrections
  crates/app/src/lib.rs
  crates/app/src/runtime.rs
  crates/app/src/stt/processor.rs
  crates/coldvox-stt/Cargo.toml
  crates/coldvox-stt/src/plugins/parakeet.rs
  crates/coldvox-stt/src/types.rs
  crates/coldvox-text-injection/Cargo.toml
  crates/coldvox-text-injection/src/injectors/atspi.rs
  crates/coldvox-text-injection/src/tests/wl_copy_stdin_test.rs
  docs/dependencies.md
  docs/domains/foundation/fdn-testing-guide.md
  justfile
  scripts/windows_live_validate.ps1
Due: cargo fmt --, mise run check:lockfiles, python3 scripts/ensure_doc_frontmatter.py --fix

fix: address review feedback on windows corrections
  crates/app/src/lib.rs
  crates/coldvox-stt/src/plugins/parakeet.rs
  crates/coldvox-text-injection/src/injectors/atspi.rs
  justfile
  scripts/windows_live_validate.ps1
Due: cargo fmt --

fix: improve parakeet discovery and slim agent entrypoint
  AGENTS.md
  crates/coldvox-stt/src/plugins/parakeet.rs
  scripts/windows_live_validate.ps1
Due: cargo fmt --

fix: tighten parakeet discovery follow-up
  AGENTS.md
  README.md
  crates/coldvox-stt/src/plugins/parakeet.rs
  docs/domains/foundation/fdn-testing-guide.md
  docs/windows-live-runbook.md
  scripts/windows_live_validate.ps1
Due: cargo fmt --, python3 scripts/ensure_doc_frontmatter.py --fix

fix: restore canonical http remote parakeet path
  config/default.toml
  config/windows-parakeet.toml
  crates/app/src/main.rs
  crates/app/tests/settings_test.rs
  docs/windows-live-runbook.md
  justfile
  scripts/run-coldvox.ps1
  scripts/windows_live_validate.ps1
Due: cargo fmt --, python3 scripts/ensure_doc_frontmatter.py --fix

fix(stt): address PR #409 review feedback
  crates/app/tests/settings_test.rs
  docs/index.md
  docs/windows-live-runbook.md
  ops/parakeet/docker-compose.yml
  scripts/run-coldvox.ps1
  scripts/windows_live_validate.ps1
Due: cargo fmt --, python3 scripts/ensure_doc_frontmatter.py --fix

fix(docs): make docs/index.md ordering deterministic across platforms
  docs/index.md
  scripts/build_docs_index.py
Due: python3 scripts/ensure_doc_frontmatter.py --fix

chore(docs): re-hardlink AGENTS.md to match .github/copilot-instructions.md
  AGENTS.md
Due: none

fix(stt): restore canonical HTTP remote Parakeet path (#409)
  AGENTS.md
  README.md
  config/default.toml
  config/windows-parakeet.toml
  crates/app/src/lib.rs
  crates/app/src/main.rs
  crates/app/src/runtime.rs
  crates/app/src/stt/processor.rs
  crates/app/tests/settings_test.rs
  crates/coldvox-stt/Cargo.toml
  crates/coldvox-stt/src/plugins/parakeet.rs
  crates/coldvox-stt/src/types.rs
  crates/coldvox-text-injection/Cargo.toml
  crates/coldvox-text-injection/src/injectors/atspi.rs
  crates/coldvox-text-injection/src/tests/wl_copy_stdin_test.rs
  docs/dependencies.md
  docs/domains/foundation/fdn-testing-guide.md
  docs/index.md
  docs/windows-live-runbook.md
  justfile
  ops/parakeet/docker-compose.yml
  scripts/build_docs_index.py
  scripts/run-coldvox.ps1
  scripts/windows_live_validate.ps1
Due: cargo fmt --, mise run check:lockfiles, python3 scripts/ensure_doc_frontmatter.py --fix

test(stt): add live parakeet http-remote integration tests
  crates/app/Cargo.toml
  crates/app/tests/http_remote_wiring_live.rs
  crates/coldvox-stt/tests/http_remote_live.rs
  justfile
  scripts/integration_parakeet.ps1
Due: cargo fmt --, mise run check:lockfiles

fix(gui): address PR #389 review findings
  crates/app/Cargo.toml
  crates/app/src/runtime.rs
  crates/app/src/stt/mod.rs
  crates/app/src/stt/plugin_manager.rs
  crates/app/src/tui.rs
  crates/coldvox-gui/qml/AppRoot.qml
  crates/coldvox-gui/qml/Main.qml
  crates/coldvox-gui/qml/SettingsWindow.qml
  crates/coldvox-gui/src/bridge.rs
Due: cargo fmt --, mise run check:lockfiles

fix(gui): address PR #416 code review findings
  crates/app/src/bin/tui_dashboard.rs
  crates/app/src/stt/plugin_manager.rs
  crates/app/src/stt/processor.rs
  crates/coldvox-gui/Cargo.toml
  crates/coldvox-gui/qml/AppRoot.qml
  crates/coldvox-gui/qml/Main.qml
  crates/coldvox-gui/src/bridge.rs
Due: cargo fmt --, mise run check:lockfiles

feat(gui): wire Tauri Builder, plugin set, and Windows bundle
  .github/workflows/ci.yml
  .github/workflows/gui-ci.yml
  .gitignore
  Cargo.lock
  crates/coldvox-gui/package-lock.json
  crates/coldvox-gui/package.json
  crates/coldvox-gui/playwright.config.ts
  crates/coldvox-gui/src-tauri/Cargo.toml
  crates/coldvox-gui/src-tauri/build.rs
  crates/coldvox-gui/src-tauri/capabilities/default.json
  crates/coldvox-gui/src-tauri/gen/schemas/acl-manifests.json
  crates/coldvox-gui/src-tauri/gen/schemas/capabilities.json
  crates/coldvox-gui/src-tauri/gen/schemas/linux-schema.json
  crates/coldvox-gui/src-tauri/src/lib.rs
  crates/coldvox-gui/src-tauri/tauri.conf.json
  crates/coldvox-gui/src/hooks/useOverlayShell.test.tsx
  crates/coldvox-gui/tests/e2e/overlay.spec.ts
  crates/coldvox-gui/vitest.config.ts
Due: cargo fmt --, mise run check:lockfiles, mise run actionlint

feat: Anti-Slop Skill
  docs/dependencies.md
  references/code-patterns.md
  references/design-patterns.md
  references/text-patterns.md
  scripts/clean_slop.py
  scripts/detect_slop.py
Due: python3 scripts/ensure_doc_frontmatter.py --fix

feat: Anti-Slop Skill
  docs/index.md
Due: python3 scripts/ensure_doc_frontmatter.py --fix

ci: re-create missing start-headless.sh script
  scripts/start-headless.sh
Due: none

ci: add headless-start script and bypass branch checks for fix PRs
  .github/workflows/gate-main.yml
Due: mise run actionlint

Hi, Jules here! I have prepared a commit to fix a couple of issues in the CI pipeline. Here is a summary of the changes:
  .github/workflows/agentic-evidence-preview.yml
Due: mise run actionlint
