Repository Coldaine/ColdVox: changes, and which lint-staged commands are due for each by the changed paths.
All: cargo fmt --, mise run check:lockfiles, mise run actionlint

.lintstagedrc.json:

{
  "*.rs": [
    "cargo fmt --"
  ],
  "{package.json,package-lock.json,Cargo.toml,Cargo.lock}": [
    "mise run check:lockfiles"
  ],
  ".github/workflows/*.{yml,yaml}": [
    "mise run actionlint"
  ]
}

fix(moonshine): address PR review feedback
  crates/coldvox-stt/Cargo.toml
  crates/coldvox-stt/src/plugins/moonshine.rs
  scripts/install-moonshine-deps.sh
  scripts/verify-stt-setup.sh
Due: cargo fmt --, mise run check:lockfiles

docs: restructure agent configuration files
  AGENTS.md
  CLAUDE.md
  docs/MasterDocumentationPlaybook.md
  docs/agents.md
Due: none

feat(stt): update parakeet plugin and telemetry metrics
  crates/coldvox-stt/src/plugins/parakeet.rs
  crates/coldvox-stt/src/processor.rs
  crates/coldvox-telemetry/examples/demo.rs
  crates/coldvox-telemetry/src/stt_metrics.rs
  crates/coldvox-text-injection/src/confirm.rs
  crates/coldvox-text-injection/src/injectors/atspi.rs
  crates/coldvox-text-injection/src/injectors/clipboard.rs
Due: cargo fmt --

feat(stt): implement moonshine plugin
  docs/research/pr-reports/PR-259-moonshine-implementation-status.md
Due: none

fix(stt): resolve pyo3 compilation error in moonshine plugin
  crates/coldvox-stt/src/plugins/moonshine.rs
Due: cargo fmt --

chore: add configuration files for AI agents
  .gemini/settings.json
  .gemini/settings.json.orig
  .github/copilot-instructions.md
  .kilocode/rules/agents.md
Due: none

fix(ci): wire frontmatter hook and make placement check advisory
  .lintstagedrc.json
  docs/research/pr-reports/PR-259-moonshine-implementation-status.md
  scripts/validate_docs.py
Due: none

Add allow attributes to suppress unused warnings in WIP code
  crates/coldvox-text-injection/src/confirm.rs
  crates/coldvox-text-injection/src/injectors/atspi.rs
  crates/coldvox-text-injection/src/kdotool_injector.rs
  crates/coldvox-text-injection/src/prewarm.rs
Due: cargo fmt --

refactor: make text injection mandatory and simplify feature flags
  README.md
  crates/app/Cargo.toml
  crates/app/src/bin/tui_dashboard.rs
  crates/app/src/lib.rs
  crates/app/src/main.rs
  crates/app/src/runtime.rs
  crates/coldvox-text-injection/Cargo.toml
  docs/reference/feature_flags.md
  docs/repo/copilot-instructions.md
Due: cargo fmt --, mise run check:lockfiles

fix(ci): resolve dead code and clippy warnings for CI pass
  crates/app/src/runtime.rs
  crates/app/src/stt/plugin_manager.rs
  crates/app/src/stt/tests/mod.rs
  crates/app/src/stt/tests/wer_utils.rs
  crates/app/tests/common/wer.rs
  crates/coldvox-text-injection/src/tests/wl_copy_simple_test.rs
  crates/coldvox-text-injection/src/ydotool_injector.rs
Due: cargo fmt --

ci: use stable Rust only, drop outdated MSRV testing
  .github/workflows/ci-minimal.yml
  .github/workflows/ci.yml
Due: mise run actionlint

security(deps): upgrade pyo3 to 0.24.1 (RUSTSEC-2025-0020)
  Cargo.lock
  crates/app/Cargo.toml
  crates/coldvox-stt/Cargo.toml
Due: mise run check:lockfiles

chore: add uv-based Python dependency management
  pyproject.toml
  scripts/install-moonshine-deps.sh
  uv.lock
Due: none

chore: migrate deny.toml to cargo-deny v0.18 and add CI security scanning
  .github/workflows/ci.yml
  CHANGELOG.md
  Cargo.lock
  crates/app/Cargo.toml
  crates/coldvox-gui/Cargo.toml
  crates/coldvox-stt/Cargo.toml
  crates/coldvox-vad-silero/Cargo.toml
  deny.toml
  docs/dependencies.md
  docs/playbooks/organizational/ci_cd_playbook.md
Due: mise run check:lockfiles, mise run actionlint

fix(moonshine): address PR #259 review cleanup items
  .github/workflows/ci.yml
  Cargo.lock
  crates/coldvox-stt/Cargo.toml
  crates/coldvox-stt/src/plugins/moonshine.rs
  crates/coldvox-stt/tests/common/mod.rs
  crates/coldvox-stt/tests/moonshine_e2e.rs
  scripts/verify-stt-setup.sh
Due: cargo fmt --, mise run check:lockfiles, mise run actionlint

fix(moonshine): address PR #259 review cleanup items (#278)
  .github/workflows/ci.yml
  Cargo.lock
  crates/coldvox-stt/Cargo.toml
  crates/coldvox-stt/src/plugins/moonshine.rs
  crates/coldvox-stt/tests/common/mod.rs
  crates/coldvox-stt/tests/moonshine_e2e.rs
  scripts/verify-stt-setup.sh
Due: cargo fmt --, mise run check:lockfiles, mise run actionlint

chore: align repo, add moonshine verification and venv automation
  .envrc
  .gitignore
  crates/coldvox-stt/examples/verify_moonshine.rs
  docs/issues/pyo3_instability.md
  justfile
Due: cargo fmt --

feat(moonshine): upgrade PyO3 to 0.27 for Python 3.13 compatibility
  Cargo.lock
  crates/coldvox-stt/Cargo.toml
  crates/coldvox-stt/src/plugins/moonshine.rs
Due: cargo fmt --, mise run check:lockfiles

fix: address PR #294 review feedback
  .envrc
  crates/coldvox-stt/examples/verify_moonshine.rs
  crates/coldvox-stt/src/plugins/moonshine.rs
  crates/coldvox-stt/tests/moonshine_e2e.rs
  docs/issues/pyo3_instability.md
Due: cargo fmt --

fix: gate verify_moonshine example behind moonshine feature
  crates/coldvox-stt/Cargo.toml
Due: mise run check:lockfiles

fix: clear all CI env vars in test_detect_development_environment
  crates/coldvox-foundation/src/env.rs
Due: cargo fmt --

ci: split golden master and hardware integration tests into separate CI jobs
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  crates/app/tests/hardware_check.rs
  crates/coldvox-text-injection/src/tests/mod.rs
  crates/coldvox-text-injection/src/tests/real_injection.rs
  docs/dependencies.md
  justfile
  scripts/local_ci.sh
Due: cargo fmt --, mise run actionlint

test: standardize test logging and fix warnings
  Cargo.lock
  crates/app/config/plugins.json
  crates/app/tests/common/logging.rs
  crates/app/tests/common/mod.rs
  crates/app/tests/common/test_utils.rs
  crates/app/tests/common/timeout.rs
  crates/app/tests/golden_master.rs
  crates/app/tests/hardware_check.rs
  crates/app/tests/integration/capture_integration_test.rs
  crates/app/tests/integration/mock_injection_tests.rs
  crates/app/tests/integration/text_injection_integration_test.rs
  crates/coldvox-text-injection/Cargo.toml
  crates/coldvox-text-injection/src/confirm.rs
  crates/coldvox-text-injection/src/injectors/atspi.rs
  crates/coldvox-text-injection/src/prewarm.rs
  crates/coldvox-text-injection/src/tests/mod.rs
  crates/coldvox-text-injection/src/tests/real_injection.rs
Due: cargo fmt --, mise run check:lockfiles

ci: add sccache setup and AI failure analysis workflow
  .github/workflows/ci-failure-analysis.yml
  .github/workflows/ci.yml
  docs/dependencies.md
  docs/playbooks/organizational/ci_cd_playbook.md
  docs/playbooks/organizational/runner_setup.md
  justfile
Due: mise run actionlint

fix: use portable SCCACHE_DIR path and update PyO3 0.27 doc
  .github/workflows/ci.yml
  docs/issues/pyo3_instability.md
Due: mise run actionlint

ci: remove -D warnings enforcement and clean up dead workflows
  .github/workflows/ci-minimal.yml
  .github/workflows/ci.yml
  .github/workflows/vosk-integration.yml
  .pre-commit-config.yaml
  AGENTS.md
  justfile
  mise.toml
  scripts/local_ci.sh
  toolEditResearch.md
Due: mise run actionlint

docs: add critical STT warning banners + fix CI failures
  .github/workflows/ci.yml
  AGENTS.md
  CLAUDE.md
  README.md
  agentsDocResearch.md
  criticalActionPlan.md
  docs/architecture.md
Due: mise run actionlint

fix(ci): remove invalid --timeout cargo test option
  .github/workflows/ci.yml
Due: mise run actionlint

fix: stabilize real injection tests
  .github/workflows/ci-failure-analysis.yml
  .github/workflows/ci.yml
  .gitignore
  .pre-commit-config.yaml
  crates/coldvox-text-injection/build.rs
  crates/coldvox-text-injection/src/tests/real_injection.rs
  crates/coldvox-text-injection/test-apps/gtk_test_app.c
  crates/coldvox-text-injection/test-apps/terminal-test-app/Cargo.lock
  justfile
  scripts/local_ci.sh
Due: cargo fmt --, mise run check:lockfiles, mise run actionlint

fix: check atspi feature before launching GTK app
  crates/coldvox-text-injection/src/tests/real_injection.rs
Due: cargo fmt --

fix: enable atspi feature in CI + fix inject_text API calls
  .github/workflows/ci.yml
  crates/coldvox-text-injection/src/tests/real_injection.rs
Due: cargo fmt --, mise run actionlint

ci: skip AT-SPI backend in headless CI environment
  .github/workflows/ci.yml
Due: mise run actionlint

fix: restore STT CI coverage and fix GTK test race
  .github/workflows/ci.yml
  crates/coldvox-text-injection/test-apps/gtk_test_app.c
  docs/plans/2025-12-23-pr-triage-action-plan.md
Due: mise run actionlint

docs: add required frontmatter to PR triage plan; tests: harden GTK ready file creation (secure, logged, PID content)
  crates/coldvox-text-injection/test-apps/gtk_test_app.c
  docs/plans/2025-12-23-pr-triage-action-plan.md
Due: none

fix: restore STT CI coverage and fix GTK test race (#309)
  .github/workflows/ci.yml
  crates/coldvox-text-injection/test-apps/gtk_test_app.c
  docs/plans/2025-12-23-pr-triage-action-plan.md
Due: mise run actionlint

chore(stt): remove stub STT plugin files
  crates/coldvox-stt/src/plugins/coqui.rs
  crates/coldvox-stt/src/plugins/leopard.rs
  crates/coldvox-stt/src/plugins/mod.rs
  crates/coldvox-stt/src/plugins/silero_stt.rs
  crates/coldvox-stt/src/plugins/whisper_cpp.rs
  crates/coldvox-stt/src/plugins/whisper_plugin.rs
Due: cargo fmt --

chore: remove all Vosk references from codebase
  .github/actions/setup-coldvox/action.yml
  .github/workflow-job-classifier.yml
  CHANGELOG.md
  docs/MasterDocumentationPlaybook.md
  docs/adr/0001-vosk-model-distribution.md
  docs/domains/audio/aud-user-config-design.md
  docs/domains/foundation/fdn-testing-guide.md
  docs/domains/foundation/fdn-voice-pipeline-core-design.md
  docs/domains/stt/troubleshooting/vosk-model-discovery.md
  docs/history/2025-11-06_04-16Z-branch-status-and-work-in-progress-overview.md
  docs/plans/comprehensive-main-branch-review-plan-v2.md
  docs/plans/comprehensive-main-branch-review-plan.md
  docs/plans/documentation-migration-mapping.md
  docs/plans/documentation/proposal-documentation-restructure.md
  docs/plans/foundation/logging-audit.md
  docs/playbooks/organizational/runner_setup.md
  docs/reference/crates/coldvox-stt-vosk.md
  docs/repo/copilot-instructions.md
  docs/research/logs/2025-10-10-commit-history-rewrite.md
  docs/research/logs/2025-10-13-self-hosted-runner-status.md
  docs/research/logs/2025-10-19-file-inventory-prompt.md
  docs/research/pr-reports/PR-temp-comprehensive-testing-report.md
  docs/tasks/ci-runner-readiness-proposal.md
Due: none

fix: update coldvox-audio for CPAL 0.17 API changes
  crates/app/src/bin/mic_probe.rs
  crates/app/tests/hardware_check.rs
  crates/coldvox-audio/src/capture.rs
  crates/coldvox-audio/src/device.rs
Due: cargo fmt --
