Repository Coldaine/ColdVox: changes, and which lint-staged commands are due for each by the changed paths.
All: cargo fmt --, mise run check:lockfiles, mise run actionlint, python3 scripts/ensure_doc_frontmatter.py --fix

.lintstagedrc.json:

{
  "*.rs": [
    "cargo fmt --"
  ],
  "{package.json,package-lock.json,Cargo.toml,Cargo.lock}": [
    "mise run check:lockfiles"
  ],
  ".github/workflows/*.{yml,yaml}": [
    "mise run actionlint"
  ],
  "docs/**/*.md": [
    "python3 scripts/ensure_doc_frontmatter.py --fix"
  ]
}

fix(windows): wire windows-parakeet.toml to canonical http-remote plugin + integration tests
  config/windows-parakeet.toml
  crates/app/Cargo.toml
  crates/app/tests/http_remote_wiring_live.rs
  crates/coldvox-stt/tests/http_remote_live.rs
  justfile
  scripts/integration_parakeet.ps1
Due: cargo fmt --, mise run check:lockfiles

fix(test): preserve last health probe error in integration_parakeet
  scripts/integration_parakeet.ps1
Due: none

fix(windows): wire windows-parakeet.toml to canonical http-remote plugin + restore live integration tests (#422)
  config/windows-parakeet.toml
  scripts/integration_parakeet.ps1
Due: none

chore: gitignore .kilo editor dir and txt logs; add kilocode package-lock
  .gitignore
  .kilocode/package-lock.json
Due: mise run check:lockfiles

chore(deps): update dependency vitest to v4 [security]
  crates/coldvox-gui/package-lock.json
  crates/coldvox-gui/package.json
Due: mise run check:lockfiles

chore(deps): update dependency torch to v2.13.0 [security]
  uv.lock
Due: none

chore(deps): update dependency transformers to v5 [security]
  uv.lock
Due: none
