Repository Coldaine/ColdVox: changes, and which lint-staged commands are due for each by the changed paths.
All: cargo fmt --, mise run check:lockfiles, mise run actionlint, python3 scripts/ensure_doc_frontmatter.py --fix

fix: add missing frontmatter to docs
  docs/history/2025-11-06_04-16Z-branch-status-and-work-in-progress-overview.md
  docs/plans/comprehensive-main-branch-review-plan-v2.md
  docs/plans/comprehensive-main-branch-review-plan.md
Due: python3 scripts/ensure_doc_frontmatter.py --fix

chore(stt): remove stub STT plugin files (#282)
  .github/actions/setup-coldvox/action.yml
  .github/workflow-job-classifier.yml
  CHANGELOG.md
  crates/coldvox-stt/src/plugins/coqui.rs
  crates/coldvox-stt/src/plugins/leopard.rs
  crates/coldvox-stt/src/plugins/mod.rs
  crates/coldvox-stt/src/plugins/silero_stt.rs
  crates/coldvox-stt/src/plugins/whisper_cpp.rs
  crates/coldvox-stt/src/plugins/whisper_plugin.rs
  docs/MasterDocumentationPlaybook.md
  docs/adr/0001-vosk-model-distribution.md
  docs/domains/audio/aud-user-config-design.md
  docs/domains/foundation/fdn-testing-guide.md
  docs/domains/foundation/fdn-voice-pipeline-core-design.md
  docs/domains/stt/troubleshooting/vosk-model-discovery.md
  docs/history/2025-11-06_04-16Z-branch-status-and-work-in-progress-overview.md
  docs/plans/comprehensive-main-branch-review-plan-v2.md
  docs/plans/comprehensive-main-branch-review-plan.md
  docs/plans/documentation-migration-mapping.md
  docs/plans/documentation/proposal-documentation-restructure.md
  docs/plans/foundation/logging-audit.md
  docs/playbooks/organizational/runner_setup.md
  docs/reference/crates/coldvox-stt-vosk.md
  docs/repo/copilot-instructions.md
  docs/research/logs/2025-10-10-commit-history-rewrite.md
  docs/research/logs/2025-10-13-self-hosted-runner-status.md
  docs/research/logs/2025-10-19-file-inventory-prompt.md
  docs/research/pr-reports/PR-temp-comprehensive-testing-report.md
  docs/tasks/ci-runner-readiness-proposal.md
Due: cargo fmt --, python3 scripts/ensure_doc_frontmatter.py --fix

docs: mark Phases 2-4 complete in PR triage action plan
  docs/plans/2025-12-23-pr-triage-action-plan.md
Due: python3 scripts/ensure_doc_frontmatter.py --fix

feat(ci): Set up Xvfb for X11 text injection tests (#310)
  .github/workflows/ci.yml
  crates/coldvox-text-injection/src/tests/test_harness.rs
Due: cargo fmt --, mise run actionlint

feat(ydotool): add comprehensive unit tests for ydotool injector
  crates/coldvox-text-injection/src/tests/mod.rs
Due: cargo fmt --

fix: remove unused imports and prefix unused variable in ydotool tests
  crates/coldvox-text-injection/src/tests/test_ydotool_injector.rs
Due: cargo fmt --

fix(ci): correct xvfb-action repository name
  .github/workflows/ci.yml
Due: mise run actionlint

fix(ci): update CI documentation to reflect self-hosted runner changes and remove Xvfb references
  AGENTS.md
  docs/dev/CI/architecture.md
  docs/tasks/ci-runner-readiness-proposal.md
Due: python3 scripts/ensure_doc_frontmatter.py --fix

fix(ci): remove xvfb-action from self-hosted runner
  .github/workflows/ci.yml
Due: mise run actionlint

fix(ci): remove xvfb-action from self-hosted runner (#319)
  .github/workflows/ci.yml
Due: mise run actionlint

fix(ci): remove hardcoded DISPLAY=:99, use live session
  .github/workflows/ci.yml
Due: mise run actionlint

fix(ci): remove hardcoded DISPLAY=:99 (#324)
  .github/workflows/ci.yml
Due: mise run actionlint

fix(ci): comprehensive CI fixes for self-hosted runner
  .github/actions/setup-coldvox/action.yml
  .github/workflows/ci.yml
Due: mise run actionlint

fix(ci): try to auto-detect XAUTHORITY location
  .github/workflows/ci.yml
Due: mise run actionlint

fix(ci): set DISPLAY=:0 for live KDE session
  .github/workflows/ci.yml
Due: mise run actionlint

fix(ci): find XWayland xauth file dynamically
  .github/workflows/ci.yml
Due: mise run actionlint

fix(ci): comprehensive CI fixes for self-hosted runner (#328)
  .github/actions/setup-coldvox/action.yml
  .github/workflows/ci.yml
Due: mise run actionlint

feat(ci): bifurcate CI into hosted and self-hosted jobs
  .github/workflows/ci.yml
Due: mise run actionlint

fix(ci): correct bifurcation - self-hosted for hardware tests only
  .github/workflows/ci.yml
  AGENTS.md
  docs/dev/CI/architecture.md
Due: mise run actionlint, python3 scripts/ensure_doc_frontmatter.py --fix

chore: automate agent instruction mirroring
  .githooks/post-checkout
  .githooks/post-merge
  .github/copilot-instructions.md
  .github/workflows/docs-ci.yml
  .kilocode/rules/agents.md
  AGENTS.md
  CLAUDE.md
  README.md
  docs/architecture.md
  docs/architecture/roadmap.md
  docs/plans/critical-action-plan.md
  docs/plans/documentation/future-documentation-architecture.md
  docs/research/logs/2025-12-25-agents-doc-research.md
  docs/research/logs/2025-12-25-change-scoped-file-editing.md
  docs/research/pr-reports/PR-190-Comprehensive-Assessment.md
  justfile
  mise.toml
  scripts/ensure_agent_hardlinks.sh
  scripts/install_git_hardlink_hooks.sh
Due: mise run actionlint, python3 scripts/ensure_doc_frontmatter.py --fix

docs: clarify solo-dev trust model
  AGENTS.md
Due: none

docs: keep agent instruction mirrors in sync
  .github/copilot-instructions.md
  .kilocode/rules/agents.md
Due: none

chore: harden agent hardlink automation
  .githooks/post-checkout
  .githooks/post-merge
  .github/copilot-instructions.md
  .github/workflows/docs-ci.yml
  .kilocode/rules/agents.md
  AGENTS.md
  README.md
  docs/MasterDocumentationPlaybook.md
  docs/dev/CI/architecture.md
  docs/plans/documentation-migration-mapping.md
  docs/plans/documentation/future-documentation-architecture.md
  docs/plans/documentation/proposal-documentation-restructure.md
  mise.toml
  scripts/ensure_agent_hardlinks.sh
  scripts/install_git_hardlink_hooks.sh
Due: mise run actionlint, python3 scripts/ensure_doc_frontmatter.py --fix

fix: restore agent mirror flexibility
  README.md
  docs/MasterDocumentationPlaybook.md
  docs/dev/CI/architecture.md
  scripts/ensure_agent_hardlinks.sh
  scripts/install_git_hardlink_hooks.sh
Due: python3 scripts/ensure_doc_frontmatter.py --fix

chore(ci): remove just dependency from CI; add scripts/setup_sccache.sh; demote just in docs
  .github/copilot-instructions.md
  .github/workflows/ci.yml
  .kilocode/rules/agents.md
  AGENTS.md
  README.md
  docs/dependencies.md
  docs/playbooks/organizational/ci_cd_playbook.md
  docs/playbooks/organizational/runner_setup.md
  scripts/setup_sccache.sh
Due: mise run actionlint, python3 scripts/ensure_doc_frontmatter.py --fix

chore(ci): pin sccache version; improve validation and error handling in setup script
  scripts/setup_sccache.sh
Due: none

docs: add issue/PR triage report with close/keep/merge recommendations
  docs/triage-2026-02-09.md
Due: python3 scripts/ensure_doc_frontmatter.py --fix

fix: Add frontmatter and move triage doc to plans/
  docs/plans/2026-02-09-pr-triage-action-plan.md
Due: python3 scripts/ensure_doc_frontmatter.py --fix

docs: comprehensive issue and PR triage for 2026-02-09
  docs/plans/2026-02-09-pr-triage-action-plan.md
Due: python3 scripts/ensure_doc_frontmatter.py --fix

fix: Add frontmatter and move triage doc to plans/
  docs/triage-2026-02-09.md
Due: python3 scripts/ensure_doc_frontmatter.py --fix

fix: address all 13 PR #346 review comments + update triage doc
  .githooks/pre-commit
  docs/plans/2026-02-09-pr-triage-action-plan.md
  docs/plans/gui/implementation-plan.md
  docs/tasks/ci-runner-readiness-proposal.md
  scripts/build_docs_index.py
  scripts/classify_docs.py
  scripts/docs_semantic_review.py
  scripts/ensure_agent_hardlinks.sh
Due: python3 scripts/ensure_doc_frontmatter.py --fix

docs(triage): correct stale branches section — all branches have open PRs
  docs/plans/2026-02-09-pr-triage-action-plan.md
Due: python3 scripts/ensure_doc_frontmatter.py --fix

docs(ci): add advisory OpenAI-compatible semantic docs review
  .github/workflows/docs-ci.yml
  .gitignore
  README.md
  docs/index.md
  docs/issues/docs-agentic-semantic-review-rollout.md
  docs/reference/docs-semantic-review-contract.md
  docs/standards.md
  docs/todo.md
  scripts/docs_semantic_review.py
  scripts/ensure_doc_frontmatter.py
  scripts/validate_docs.py
Due: mise run actionlint, python3 scripts/ensure_doc_frontmatter.py --fix

Integrate documentation naming validator into CI and hooks
  .githooks/pre-push
  .github/workflows/docs-ci.yml
  justfile
  scripts/local_ci.sh
Due: mise run actionlint

Implement pre-push hook for domain doc validation
  .githooks/pre-push
  README.md
  justfile
  mise.toml
  scripts/install-githooks.sh
  scripts/install_git_hardlink_hooks.sh
  scripts/validate_domain_docs_naming.py
Due: none

Fix stale docs index and re-submit naming validator integration
  docs/index.md
Due: python3 scripts/ensure_doc_frontmatter.py --fix

docs: add STT and Telemetry domain overview files
  docs/domains/stt/stt-overview.md
  docs/domains/stt/stt-parakeet-integration-plan.md
  docs/domains/telemetry/tele-logging.md
  docs/domains/telemetry/tele-observability-playbook.md
  docs/domains/telemetry/tele-overview.md
  docs/index.md
  docs/logging.md
  docs/observability-playbook.md
  docs/stt-parakeet-integration-plan.md
Due: python3 scripts/ensure_doc_frontmatter.py --fix

Path conditions:
  cargo fmt --: any of: *.rs
  mise run check:lockfiles: any of: {package.json,package-lock.json,Cargo.toml,Cargo.lock}
  mise run actionlint: any of: .github/workflows/*.{yml,yaml}
  python3 scripts/ensure_doc_frontmatter.py --fix: any of: docs/**/*.md
