Repository Coldaine/ColdVox: changes, and which lint-staged commands are due for each by the changed paths.
All: cargo fmt --, mise run check:lockfiles, mise run actionlint, python3 scripts/ensure_doc_frontmatter.py --fix

.lintstagedrc.json:

{
  "*.rs": [
    "cargo fmt --"
  ],
  "{package.json,package-lock.json,Cargo.toml,Cargo.lock}": [
    "mise run check:lockfiles"
  ],
  ".github/workflows/*.{yml,yaml}": [
    "mise run actionlint"
  ],
  "docs/**/*.md": [
    "python3 scripts/ensure_doc_frontmatter.py --fix"
  ]
}

Fix stale docs/index.md and implement pre-push hook for doc validation
  docs/index.md
Due: python3 scripts/ensure_doc_frontmatter.py --fix

docs: fix STT and Telemetry documentation metadata and index
  docs/domains/stt/stt-overview.md
  docs/domains/telemetry/tele-observability-playbook.md
  docs/domains/telemetry/tele-overview.md
  docs/index.md
  docs/logging.md
  docs/observability-playbook.md
  docs/stt-parakeet-integration-plan.md
Due: python3 scripts/ensure_doc_frontmatter.py --fix

Fix TestHarness Drop implementation and address PR review comments
  crates/coldvox-text-injection/src/tests/test_ydotool_injector.rs
Due: cargo fmt --

Remove unused TextInjector import to fix clippy warnings
  crates/coldvox-text-injection/src/tests/test_ydotool_injector.rs
Due: cargo fmt --

chore(docs): remove completed migration playbooks and empty stubs
  docs/playbooks/organization/apperror-to-coldvoxerror-migration-checklist.md
  docs/playbooks/organization/apperror-to-coldvoxerror-migration-guide.md
  docs/playbooks/organization/apperror-to-coldvoxerror-migration-troubleshooting.md
  docs/repo/editor.md
  docs/repo/gitignore.md
Due: python3 scripts/ensure_doc_frontmatter.py --fix

fix: restore sane defaults in crates/app/config/plugins.json
  crates/app/config/plugins.json
Due: none

fix(stt): update Parakeet plugin to parakeet-rs 0.2.6 API
  crates/coldvox-stt/Cargo.toml
  crates/coldvox-stt/src/plugins/parakeet.rs
Due: cargo fmt --, mise run check:lockfiles

docs: enrich domain docs from checkpoint, extract history from logs
  docs/domains/text-injection/ti-overview.md
  docs/domains/text-injection/ti-testing.md
  docs/history/2025-10-13-parakeet-stt-backend-research.md
  docs/history/2025-11-06-platform-specific-code-gating.md
  docs/history/2025-11-06-transcription-config-enabled-bug.md
  docs/history/2025-12-25-agent-documentation-insights.md
Due: python3 scripts/ensure_doc_frontmatter.py --fix

docs(playbook): make domain-naming validator mandatory; require domain overview + subdir rule; bump playbook 1.0.1
  crates/app/tests/golden_master.rs
  docs/plans/documentation-migration-mapping.md
  docs/playbooks/organization/apperror-to-coldvoxerror-migration-guide.md
  docs/playbooks/organization/apperror-to-coldvoxerror-migration-troubleshooting.md
  docs/standards.md
  justfile
Due: cargo fmt --, python3 scripts/ensure_doc_frontmatter.py --fix

fix(tests): harden test suite for cross-platform and backend-agnostic runs
  crates/app/config/plugins.json
  crates/app/tests/golden_master.rs
  crates/coldvox-foundation/src/env.rs
  crates/coldvox-foundation/src/test_env.rs
  crates/coldvox-text-injection/examples/test_enigo_live.rs
  crates/coldvox-text-injection/src/manager.rs
Due: cargo fmt --

fix: address PR review feedback
  CHANGELOG.md
  crates/coldvox-stt/src/plugins/parakeet.rs
Due: cargo fmt --

chore(docs): delete checkpoint archive and spent research logs
  docs/archive/research/checkpoints/coldvox-2-0-0/coldvox-text-injection-documentation.md
  docs/archive/research/checkpoints/coldvox-2-0-0/conceptual-diagram.md
  docs/archive/research/checkpoints/coldvox-2-0-0/conceptual-summary.md
  docs/archive/research/checkpoints/coldvox-2-0-0/detailed-flow-diagrams.md
  docs/archive/research/checkpoints/coldvox-2-0-0/file-by-file-diagram.md
  docs/archive/research/checkpoints/coldvox-2-0-0/index.md
  docs/archive/research/checkpoints/coldvox-2-0-0/injection-focus.md
  docs/archive/research/checkpoints/coldvox-2-0-0/injection-master.md
  docs/archive/research/checkpoints/coldvox-2-0-0/injection-path-alignment.md
  docs/archive/research/checkpoints/coldvox-2-0-0/injection-policies.md
  docs/archive/research/checkpoints/coldvox-2-0-0/injection-stack-master-plan.md
  docs/archive/research/checkpoints/coldvox-2-0-0/injection-stack-pre-2025-10-08.md
  docs/archive/research/checkpoints/coldvox-2-0-0/injection-test-1008.md
  docs/archive/research/checkpoints/coldvox-2-0-0/pipeline-trace.md
  docs/archive/research/checkpoints/coldvox-2-0-0/text-injection-analysis.md
  docs/archive/research/checkpoints/coldvox-2-0-0/text-injection-architecture.md
  docs/archive/research/checkpoints/coldvox-2-0-0/text-injection-review-2025-10-13.md
  docs/archive/research/checkpoints/coldvox-2-0-0/tracing-plan.md
  docs/research/logs/2025-10-10-commit-history-rewrite.md
  docs/research/logs/2025-10-13-conversation-log.md
  docs/research/logs/2025-10-13-parakeet-research.md
  docs/research/logs/2025-10-13-parakeet-technical-solutions.md
  docs/research/logs/2025-10-13-self-hosted-runner-status.md
  docs/research/logs/2025-10-19-file-inventory-prompt.md
  docs/research/logs/2025-12-25-agents-doc-research.md
  docs/research/logs/2025-12-25-change-scoped-file-editing.md
Due: python3 scripts/ensure_doc_frontmatter.py --fix

Fix security audit and finalize naming validator integration
  Cargo.lock
Due: mise run check:lockfiles

Implement pre-push hook for doc validation and fix security vulnerabilities
  Cargo.lock
Due: mise run check:lockfiles

docs: add domain overviews and fix security vulnerabilities
  Cargo.lock
Due: mise run check:lockfiles

fix: Add frontmatter and move triage doc to plans/
  docs/plans/2026-02-09-pr-triage-action-plan.md
Due: python3 scripts/ensure_doc_frontmatter.py --fix

chore(repo): add .gitattributes to reduce line-ending churn
  .gitattributes
Due: none

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: mise run actionlint

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: mise run actionlint

fix: remove dead references to WhisperPluginFactory
  crates/app/src/runtime.rs
  crates/app/src/stt/plugin_manager.rs
Due: cargo fmt --

fix: address clippy and dead code issues in CI
  crates/app/src/stt/plugin_manager.rs
  crates/app/tests/golden_master.rs
  crates/coldvox-text-injection/src/manager.rs
Due: cargo fmt --

fix: comprehensive cleanup of dead Whisper references and CI fix
  .github/workflows/ci.yml
  Cargo.lock
  crates/app/vendor/whisper/model/tiny/.whisper_placeholder
  scripts/ci/setup-whisper-cache.sh
  scripts/validate_whisper_ci.sh
  scripts/verify_whisper_model.sh
  vendor/whisper/model/large-v3-turbo/.whisper_placeholder
  vendor/whisper/model/tiny/.whisper_placeholder
Due: mise run check:lockfiles, mise run actionlint

feat(ydotool): add comprehensive unit tests for ydotool injector
  crates/coldvox-text-injection/src/tests/mod.rs
Due: cargo fmt --

fix: remove unused imports and prefix unused variable in ydotool tests
  crates/coldvox-text-injection/src/tests/test_ydotool_injector.rs
Due: cargo fmt --

feat(ydotool): add comprehensive unit tests for ydotool injector (#311)
  crates/coldvox-text-injection/src/tests/mod.rs
  crates/coldvox-text-injection/src/tests/test_ydotool_injector.rs
  crates/coldvox-text-injection/src/ydotool_injector.rs
Due: cargo fmt --

Remove dead references to non-existent WhisperPluginFactory (#358)
  .github/workflows/ci.yml
  Cargo.lock
  crates/app/src/runtime.rs
  crates/app/src/stt/plugin_manager.rs
  crates/app/tests/golden_master.rs
  crates/app/vendor/whisper/model/tiny/.whisper_placeholder
  crates/coldvox-text-injection/src/manager.rs
  scripts/ci/setup-whisper-cache.sh
  scripts/validate_whisper_ci.sh
  scripts/verify_whisper_model.sh
  vendor/whisper/model/large-v3-turbo/.whisper_placeholder
  vendor/whisper/model/tiny/.whisper_placeholder
Due: cargo fmt --, mise run check:lockfiles, mise run actionlint
